.layout {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: background 200ms ease;
}

.content {
  flex: 1;
}

:global(.light) {
  background: ghostwhite;
  color: black;
}

:global(.dark) {
  background: black;
  color: ghostwhite;
}
